@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="room-selection" class="">
        <h1>WebRTC 1-1 Video Chat</h1>
        
        <div>
            <form method="post">
                <label for="cars" style="display:none">Choose a room:</label>
                <br/>
                <select id="rooms" name="roomid" style="display:none">
                    <option value="room001">Room-1</option>
                    @*<option value="room002">Room-2</option>
                    <option value="room003">Room-3</option>
                    <option value="room004">Room-4</option>*@
                </select>

                @*<p id="instructions" class="mb-0">Please enter a room name.</p>
                <div id="room-id-input-div">
                    <input type="text" id="rid" value="12345" name="roomid">
                    <br />
                </div>*@
                <p id="instructions" class="mt-4 mb-0">Please enter a user name.</p>
                <div id="user-id-input-div">
                    <input type="text" id="uid" placeholder="JohnDoe" name="userid" required>
                    <br />
                </div>
                <div id="input-buttons" class="mt-4">
                    @*<button type="submit" value="Submit" formaction="/home/test">JOIN Test ROOM</button>
                    <button type="submit" value="Submit" formaction="/home/chat">JOIN Chat ROOM</button>*@
                    <button type="submit" value="Submit" formaction="/home/room">JOIN Video ROOM</button>
                </div>
            </form>
            <label class="error-label hidden mt-4" for="user-id-input" id="user-id-input-label">Only 2 users allowed. Keep names unique for debugging.</label>
        </div>
    </div>
</div>
