@{
    ViewData["Title"] = "WebRTC Page";
}


<div class="row">
    <div class="col-md-8 mt-2">
        <video id="localVideo" class="mt-2 ml-2" autoplay playsinline mute style="background-color:black;width:140px;height:105px;position:absolute"></video>
        @*<video id="remoteVideo" class="mt-2 ml-2" autoplay playsinline muted style="background-color:gray;width:140px;height:105px;position:absolute;top:150px"></video>*@
        <video id="remoteVideo" autoplay playsinline style="background-color:black;height:370px;width:100%"></video>

        <button id="btnConnect" style="width:40px;float:right" onclick="reconnect();"><i id="rtcicon" class="fas fa-link"></i></button>
        <button id="btnVideo" style="width:40px" onclick="toggle('video');"><i id="vidicon" class="fas fa-video-slash"></i></button>
        <button id="btnAudio" style="width:40px" onclick="toggle('audio');"><i id="audicon" class="fas fa-microphone-alt-slash"></i></button>
        <label for="bitrate">BitRate:</label>
        <br />
        <select id="bitrate" name="bitrate" onchange="onbitratechange()">
            <option value="20">20</option>
            <option value="60">60</option>
            <option value="120">120</option>
            <option value="240">240</option>
            <option value="520">520</option>
            <option value="1240">1240</option>
            <option value="2400">2400</option>
        </select>
        <select id="frameraterate" name="framerate" onchange="onframeratechange()">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="60">60</option>
        </select>

        @*<button id="showVideo" onclick="init()">Open camera</button>
        <button id="startButton">Start</button>
        <button id="callButton">Call</button>
        <button id="hangupButton">Hang Up</button>*@
        <div id="errorMsg"></div>
    </div>

    <div class="col-md-4 mt-2">
        <div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type a message" id="messageInput">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="sendButton">Send</button>
                </div>
            </div>
        </div>
        <div class="bg-light pt-4" style="height: 310px; overflow-y: scroll">
            <ul id="messagesList" class="pr-2"></ul>
        </div>
    </div>
</div>
<input class="mytext" id="roomInput" style="display: none" value="@ViewBag.RoomID" />
<input class="mytext" id="userInput" style="display:none" value="@ViewBag.UserID" />
<script src="https://jan-ivar.github.io/localSocket/localSocket.js"></script>
<script src="~/js/Chat.js"></script>
<script src="~/js/Video.js"></script>

@*<script src="~/js/WebRTCRoomLite.js"></script>*@
